<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main.html">


<div class="col-8" layout:fragment="site_name">
    <div class="form-group">
        <form th:action="@{'/search'}" method="get">
            <div class="container">
                <div class="row">
                    <div class="col-10">

                        <input class="form-control" type="text" placeholder="Enter to search..." name="name">
                    </div>
                    <div class="col">
                        <button class="btn btn-info" style="background-color: #3b745c; color: whitesmoke"
                                type="submit">Search
                        </button>

                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-4" th:each="it : ${tovary}" style="width: 230px; height: 450px">
                <div class="card" style="width: 210px; height: 400px">
                    <img th:src="${it.getSmallPicUrl()}"
                         class="card-img-top" alt="..." style="width: 209px;height: 150px">
                    <div class="card-body">
                        <a th:href="@{'/details/' + ${it.getId()}}"><h5 class="card-title"
                                                                        th:text="${it.getName()}"></h5></a>
                        <h6 th:text="${'$' + it.getPrice()}"></h6>
                        <p class="card-text" th:text="${it.getDescription()}"></p>
                        <h6><span th:text="#{label.brand} + ': ' "></span><a
                                th:href="${'/search?brand=' + it.getBrands().getId()}"
                                th:text="${it.getBrands().getName() + ',' + it.getBrands().getCountry().getCode()}"></a>
                        </h6>
                    </div>
                    <div class="card-footer">

                                   <span th:each="star : ${#numbers.sequence(1,it.getStars()/1)}" th:text="${'⭐'}">
                                   </span>

                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>

</div>
<br>


</html>
